<h3>Hello, <%= @user.name %> </h3>
<p>
  If you would like to change your name, email, or password click the edit
  registration link.
</p>
<p>Look at other <%= link_to 'users', users_path %>. There might be a friendship feature in the future.</p>

<p>
  Checkout your <%= link_to 'favorites', "/users/#{@user.id}/favorites" %>
</p>

<p>
  View your <%= link_to 'Mailbox', conversations_path %>
</p>
