/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .notice {
   color:blue;
 }

.alert {
  color:red;
}

html {

  background: url("blurred_bar.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  background: rgba(236, 162, 75, .4)
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #555;
}

h1, h2, strong {
  color: #333;
}

img {
  width: 12em;
}

.title {
  font-family: 'Lobster Two', cursive;
}

a {
  text-decoration: none;
  color: #fb3;
  text-shadow: 2px 2px black;
}

a:hover {
  color: #911;
  text-shadow: 1px 1px black;
}

body img {
  border: 5px solid #82000b;
  border-radius: 5px;
}

 .fav {
   color: red;

 }
 .no-fav {
   color: black;
   text-shadow: none;
 }
